<?xml version="1.0"?>
<launch>

    <!-- Add custom Gazebo paths -->
    <env name="GAZEBO_MODEL_PATH"
        value="$(find gathering_without_coordinates)/models:$(optenv MIRO_DIR_MDK)/sim/models:$(optenv GAZEBO_MODEL_PATH)" />
    <env name="GAZEBO_RESOURCE_PATH"
        value="$(optenv MIRO_DIR_MDK)/sim:$(optenv GAZEBO_RESOURCE_PATH)" />
    <env name="GAZEBO_PLUGIN_PATH"
        value="$(optenv MIRO_DIR_MDK)/bin/${MIRO_SYSTEM}:$(optenv GAZEBO_PLUGIN_PATH)" />

    <!-- Specify which .world file to load -->
    <arg name="world" default="$(find gathering_without_coordinates)/sim/worlds/closed.world"/>

    <!-- Set the name for Gazebo -->
    <arg name="gazebo_ns" default="gazebo" doc="Gazebo namespace, typically 'gazebo' or 'gazebo_server'" />
    <!-- start Gazebo server with exposed ROS interface-->
    <node name="$(arg gazebo_ns)"
        pkg="gazebo_ros"
        type="gzserver"
        respawn="false"
        required="true"
        args="--physics ode --verbose $(arg world)"
    />

  <!-- Start Gazebo client -->
  <node name="gazebo_gui"
      pkg="gazebo_ros"
      type="gzclient"
      respawn="true"
  />

</launch>